<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <display-name>App servlet</display-name>
    <default-context-path>/</default-context-path>

    <!-- If you do not want to go with default filename as [servlet-name]-servlet.xml and default location as /WEB-INF -->
    <!-- you can customize this file name and location by adding the servlet listener ContextLoaderListener in your web.xml file as follows -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/app-context.xml</param-value>
    </context-param>

    <servlet>
        <servlet-name>app</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>app</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <!-- defaults -->
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>

    <!-- error handling -->
    <error-page>
        <error-code>404</error-code>
        <location>/404</location>
    </error-page>
</web-app>